<br>
<div class="title">
  <h1>Welcome to Admin Panel</h1>
</div>

<ng-container *ngIf="!this.lastFiveItemsList && this.dataSource.data">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>
<div class="buttons">
  <button class="button" routerLink="items">Items</button>
  <button class="button" routerLink="categories">Categories</button>
  <button class="button" routerLink="orders">Orders</button>
</div>

<br>

<ng-container *ngIf="this.lastFiveItemsList && this.dataSource.data">
  <div class="text">
    <p>Last five added items: </p>
  </div>
  <div class="grid">
    <mat-card appearance="outlined" *ngFor="let item of lastFiveItemsList">
      <mat-card-header>
        <mat-card-title><p class="mat-line-clamp">{{ item.name }}</p></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{item.imageSrc}}" alt="Photo of an item">
      <mat-card-content>
        <p class="mat-line-clamp">{{ item.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="items/{{item.id}}/view" routerLinkActive="active">View</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <br>
  <div class="text">
    <p>Category statistics</p>
  </div>

  <div class="table-responsive mat-elevation-z3">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category Name</mat-header-cell>
        <mat-cell *matCellDef="let stats" data-label="category"> {{ stats.category }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="itemsCount">
        <mat-header-cell *matHeaderCellDef> Items Count</mat-header-cell>
        <mat-cell *matCellDef="let stats" data-label="items count"> {{ stats.itemsCount }}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let columns; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator
      class="mat-elevation-z3"
      [length]="this.totalElements"
      [pageIndex]="currentPage"
      [pageSize]="currentSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChanged($event)"
      aria-label="Select page">>
    </mat-paginator>
  </div>
  <br>
</ng-container>
