<ng-container *ngIf="!this.dataSource.data">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-container *ngIf="this.dataSource.data">
  <br>
  <div class="header">
    <h1 style="color: black">Category table</h1>
  </div>

  <div class="filter-section">
    <mat-form-field>
      <input matInput (keyup)="searchCategories(filterPage)" placeholder="Search" [(ngModel)]="filterName">
      <mat-icon matPrefix class="my-icon">search</mat-icon>
    </mat-form-field>
    <div>
      <button class="clear-button" (click)="clearFilters()">
        <i class="fas fa-filter"></i> Clear Filters
      </button>
    </div>
  </div>
  <br>
  <div class="sort-menu">
    <button mat-button [matMenuTriggerFor]="sortMenu"><img style="width: 52px; height: 52px;"
                                                           [src]="'assets/sort_icon.svg'" alt="Sorting Icon">
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item
              (click)="sortChanged({active: 'id', direction: currentDirection === 'asc' ? 'desc' : 'asc'})">
        <span>Id</span>
        <mat-icon *ngIf="currentSortField === 'id' && currentDirection === 'asc'">arrow_upward</mat-icon>
        <mat-icon *ngIf="currentSortField === 'id' && currentDirection === 'desc'">arrow_downward</mat-icon>
      </button>
      <button mat-menu-item
              (click)="sortChanged({active: 'name', direction: currentDirection === 'asc' ? 'desc' : 'asc'})">
        <span>Name</span>
        <mat-icon *ngIf="currentSortField === 'name' && currentDirection === 'asc'">arrow_upward</mat-icon>
        <mat-icon *ngIf="currentSortField === 'name' && currentDirection === 'desc'">arrow_downward</mat-icon>
      </button>
      <button mat-menu-item
              (click)="sortChanged({active: 'description', direction: currentDirection === 'asc' ? 'desc' : 'asc'})">
        <span>Description</span>
        <mat-icon *ngIf="currentSortField === 'description' && currentDirection === 'asc'">arrow_upward</mat-icon>
        <mat-icon *ngIf="currentSortField === 'description' && currentDirection === 'desc'">arrow_downward</mat-icon>
      </button>
    </mat-menu>
  </div>
  <div class="row">
    <br>
  </div>

  <div class="example-container mat-elevation-z3">
    <mat-table [dataSource]="dataSource" matSort
               (matSortChange)="sortChanged($event)"
               [matSortActive]="currentSortField"
               [matSortDirection]="currentDirection"
               matSortDisableClear>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> #</mat-header-cell>
        <mat-cell *matCellDef="let category" data-label="id"> {{ category.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let category" data-label="name"> {{ category.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
        <mat-cell *matCellDef="let category" data-label="description"><p
          class="mat-line-clamp">{{ category.description }}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let category" data-label="actions">
          <div class="buttons">
            <button mat-raised-button routerLink="/admin/categories/{{category.id}}/view" routerLinkActive="active">
              View
            </button>
            <button mat-raised-button routerLink="/admin/categories/{{category.id}}/edit" routerLinkActive="active">
              Update
            </button>
            <button mat-raised-button (click)="deleteCategory(category.id)">Delete</button>
          </div>
          <div class="buttons-dropdown">
            <button mat-raised-button [matMenuTriggerFor]="menu">Actions</button>
            <mat-menu #menu="matMenu">
              <button mat-button color="primary" routerLink="/admin/categories/{{category.id}}/view"
                      routerLinkActive="active">
                View
              </button>
              <button mat-button color="primary" routerLink="/admin/categories/{{category.id}}/edit"
                      routerLinkActive="active">
                Update
              </button>
              <button mat-button color="primary" (click)="deleteCategory(category.id)">Delete</button>
            </mat-menu>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator class="mat-elevation-z3"
                   [length]="totalElements"
                   [pageIndex]="currentPage"
                   [pageSize]="currentSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageChanged($event)"
                   aria-label="Select page">>
    </mat-paginator>
  </div>
</ng-container>
<br>
<div>
  <button class="button-1" routerLink="/admin/categories/create" routerLinkActive="active">Create category</button>
</div>
<br>
