<ng-container>
  <mat-toolbar color="primary">
    <button mat-button routerLink="">ESHOP</button>
    <span class="example-spacer"></span>
    <div class="mat-toolbar-buttons">
      <button mat-button routerLink="all-items" routerLinkActive="active">All items</button>
      <button mat-button routerLink="my-orders" routerLinkActive="active">My orders</button>
      <button mat-button [matBadge]="getCountOfItemsInCart()" [matBadgeHidden]="getCountOfItemsInCart() == 0" matBadgePosition="after" matBadgeColor="accent"
              routerLink="my-cart"
              routerLinkActive="active">My Cart
      </button>

      <div *ngIf="isAdmin()">
        <button mat-button routerLink="admin" routerLinkActive="active">Admin</button>
      </div>
      <div *ngIf="isUserLoggedIn()">
        <button mat-button routerLink="profile" routerLinkActive="active">Profile</button>
      </div>
      <div *ngIf="!isUserLoggedIn()">
        <button mat-button routerLink="login" routerLinkActive="active">Login</button>
      </div>
    </div>

    <div class="mat-menu">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <div class="container">
          <div class="buttons">
            <button mat-button routerLink="all-items" routerLinkActive="active">All items</button>
            <button mat-button routerLink="my-orders" routerLinkActive="active">My orders</button>
            <button mat-button [matBadge]="getCountOfItemsInCart()" [matBadgeHidden]="getCountOfItemsInCart() == 0" matBadgePosition="after" matBadgeColor="accent"
                    routerLink="my-cart"
                    routerLinkActive="active">My Cart
            </button>
            <div *ngIf="isAdmin()" class="buttons">
              <button mat-button routerLink="admin" routerLinkActive="active">Admin</button>
            </div>
            <div *ngIf="isUserLoggedIn()" class="buttons">
              <button mat-button routerLink="profile" routerLinkActive="active">Profile</button>
            </div>
            <div *ngIf="!isUserLoggedIn()" class="buttons">
              <button mat-button routerLink="login" routerLinkActive="active">Login</button>
            </div>
          </div>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>
</ng-container>

<router-outlet></router-outlet>
