<ng-container *ngIf="!item">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-container *ngIf="item">
  <div class="header">
    <h1>{{item.name}}</h1>
  </div>

  <div class="body">
    <h4>ID: {{item.id}}</h4>
    <h4>Description: {{item.description}}</h4>
    <h4>Category: {{item.categoryId}}. {{item.categoryName}}</h4>
  </div>
  <div class="image">
    <img alt="" src="{{item.imageSrc}}" style="width: 400px; height: 400px;">
  </div>
</ng-container>
