<ng-container *ngIf="!item">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-container *ngIf="item">
  <div class="header">
    <h1></h1>
  </div>

  <div class="body">
    <h1>Name: {{item.name}}</h1>
    <h4>ID: {{item.id}}</h4>
    <h4>Description: {{item.description}}</h4>
    <h4>Category ID: {{item.categoryId}}</h4>
    <h4>ImageSrc: {{item.imageSrc}}</h4>
  </div>
</ng-container>
