.spinner {
  margin-top: 250px;
  display: grid;
  place-items: center;
}

.header{
  text-align: center;
  margin-top: 80px;
}

.image {
  margin-left: 15%;
  height: 200px;
}

.body {
 margin-top: 5%;
  width: 29%;
  height: 200px;
  float: left;
}


h1{
  text-align: center;
}

h4{
  width: 50%;
}
