<ng-container *ngIf="this.loading">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>


<ng-container *ngIf="!this.loading">
  <br>
  <div class="header">
    <h1 style="color: black">Your cart</h1>
  </div>

  <div>
    <mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">

      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let cart" data-label="item name">{{ cart.itemName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="itemPrice">
        <mat-header-cell *matHeaderCellDef>Item Price</mat-header-cell>
        <mat-cell *matCellDef="let cart" data-label="item price">{{ cart.itemPrice }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Count</mat-header-cell>
        <mat-cell *matCellDef="let cart" data-label="count"><input type="number" [(ngModel)]="cart.count" min="1"
                                                                   (blur)="changeCountOfItems(cart.itemId, cart.count)">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
        <mat-cell *matCellDef="let cart" data-label="actions">
          <button mat-raised-button (click)="deleteItemFromCart(cart.itemId)">DELETE</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let columns; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="JSON.stringify(this.dataSource.data) === JSON.stringify([])">
    <br>
    <h1 style="color: black; text-align: center">Cart is empty :(</h1>
  </div>

  <br>
  <div class="create-order">
    <button class="button-1" (click)="createOrderFromCart()">Confirm order</button>
  </div>

  <br>
</ng-container>
