<br>
<br>
<div class="header">
  <h2>Send link for password reset</h2>
</div>

<div class="container">
    <form style="text-align: center;" [formGroup]="form" (ngSubmit)="sendEmail()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" required>
        <mat-error *ngIf="form.controls['email'].invalid"></mat-error>
      </mat-form-field>
      <p>We'll send an email with link to reset your password.</p>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
          <span *ngIf="!loading">Send link</span>
        </button>
      </div>
    </form>
</div>
