.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 367px){
  .header h2{
    font-size: 1rem;
  }
}
