<ng-container *ngIf="this.loading">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!this.loading">
  <br>
  <div class="header">
    <h1 style="color: black">Orders table</h1>
  </div>

  <div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z3">
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
        <mat-cell *matCellDef="let order" data-label="number"> {{ order.number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let order" data-label="status"> {{ order.status }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef> Created Date</mat-header-cell>
        <mat-cell *matCellDef="let order" data-label="created date">{{ order.createdDate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
        <mat-cell *matCellDef="let order" data-label="price">{{ order.price | currency:"USD" }}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="purchasedDate">
        <mat-header-cell *matHeaderCellDef> Purchased Date</mat-header-cell>
        <mat-cell *matCellDef="let order"
                  data-label="purchased date">{{ order.purchasedDate != null ? order.purchasedDate : '-' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="items">
        <mat-header-cell *matHeaderCellDef> Items</mat-header-cell>
        <mat-cell *matCellDef="let order" data-label="items">
          <button style="margin-bottom: 10px" mat-button [matMenuTriggerFor]="listMenu">Open items</button>
          <mat-menu #listMenu="matMenu">
            <mat-list *ngFor="let orderItem of order.orderItemDTOList">
              <mat-list-item>
                Item: {{ orderItem.itemName }}
                <br>
                Count: {{ orderItem.count }}
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-menu>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let columns; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator class="mat-elevation-z3"
                   [length]="totalElements"
                   [pageIndex]="currentPage"
                   [pageSize]="currentSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageChanged($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>
