.spinner {
  margin-top: 250px;
  display: grid;
  place-items: center;
}

.grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  max-width: 1080px;
}

.title {
  margin-top: 80px;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}

mat-card-title {
  font-size: 14px;
}

.paginator {
  margin-top: 7%;
}

.mat-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
