.spinner {
  margin-top: 250px;
  display: grid;
  place-items: center;
}

.body {
  margin-top: 80px;
}

h4 {
  width: 50%;
}

button {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .body {
    width: 100%;
  }

  h4 {
    width: 100%;
  }
}
