<ng-container *ngIf="this.loading">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!this.loading">
  <div class="header">
    <h1 style="color: black">Item table</h1>
  </div>
  <div class="filter-section row-cols-sm-5">
    <mat-form-field>
      <input matInput (keyup)="searchItems(filterPage)" placeholder="Search" [(ngModel)]="filterName">
      <mat-icon matPrefix class="my-icon">search</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has Image</mat-label>
      <mat-select [(ngModel)]="filterHasImage" (selectionChange)="searchItems(filterPage)">
        <mat-option [value]="''">All</mat-option>
        <mat-option [value]="true">With Image</mat-option>
        <mat-option [value]="false">Without Image</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select [(ngModel)]="filterCategoryId" (selectionChange)="searchItems(filterPage)">
        <mat-option [value]="''">All categories</mat-option>
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{category.id}}. {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button class="clear-button" (click)="clearFilters()">
        <i class="fas fa-filter"></i> Clear Filters
      </button>
    </div>
  </div>

  <div class="container">
    <div class="row">
    </div>
    <div class="row">
    <div class="table-responsive-sm">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
             (matSortChange)="sortChanged($event)"
             [matSortActive]="currentSortField"
             [matSortDirection]="currentDirection"
             matSortDisableClear>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='id'>#</th>
          <td mat-cell *matCellDef="let item"> {{item.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header='name'>Name</th>
          <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th style="width: 25%" mat-header-cell *matHeaderCellDef mat-sort-header='description'> Description</th>
          <td mat-cell *matCellDef="let item"><p class="mat-line-clamp"> {{item.description}} </p></td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='categoryName'> Category Name</th>
          <td mat-cell *matCellDef="let item"> {{item.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="imageSrc">
          <th  mat-header-cell *matHeaderCellDef> ImageSrc</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.imageSrc">
              PRESENT
            </ng-container>
            <ng-container *ngIf="!item.imageSrc">
              ABSENT
            </ng-container>
          </td>
        </ng-container>


        <ng-container class="col-sm" matColumnDef="actions">
          <th class="col-sm-4"  mat-header-cell *matHeaderCellDef> Action</th>
          <td class="col-sm-4" mat-cell *matCellDef="let item">
            <button mat-raised-button routerLink="/admin/items/{{item.id}}/view" routerLinkActive="active">View</button>
            <button mat-raised-button routerLink="/admin/items/{{item.id}}/edit" routerLinkActive="active">Update
            </button>
            <button mat-raised-button (click)="deleteItem(item.id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let columns; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="paginator">
    <mat-paginator
      class="paginator"
      [length]="this.totalElements"
      [pageIndex]="currentPage"
      [pageSize]="currentSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChanged($event)"
      aria-label="Select page">>
    </mat-paginator>
  </div>

  <div>
    <button class="button-1" routerLink="/admin/items/create" routerLinkActive="active">Create item</button>
  </div>
  </div>
</ng-container>

