<ng-container *ngIf="this.loading">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!this.loading">
  <div class="container">
    <h1 style="color: black">Item table</h1>
    <div class="row">
    </div>
    <div class="row">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
             (matSortChange)="sortChanged($event)"
             [matSortActive]="currentSortField"
             [matSortDirection]="currentDirection"
             matSortDisableClear>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='id'>#</th>
          <td mat-cell *matCellDef="let item"> {{item.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='name'>Name</th>
          <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th style="width: 25%" mat-header-cell *matHeaderCellDef mat-sort-header='description'> Description</th>
          <td mat-cell *matCellDef="let item"><p class="mat-line-clamp"> {{item.description}} </p></td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header='categoryName'> Category Name</th>
          <td mat-cell *matCellDef="let item"> {{item.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="imageSrc">
          <th mat-header-cell *matHeaderCellDef> ImageSrc</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.imageSrc">
              PRESENT
            </ng-container>
            <ng-container *ngIf="!item.imageSrc">
              ABSENT
            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let item">
            <button mat-raised-button routerLink="/admin/items/{{item.id}}/view" routerLinkActive="active">View</button>
            <button mat-raised-button routerLink="/admin/items/{{item.id}}/edit" routerLinkActive="active">Update
            </button>
            <button mat-raised-button (click)="deleteItem(item.id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let columns; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="paginator">
    <mat-paginator
      class="paginator"
      [length]="this.totalElements"
      [pageIndex]="currentPage"
      [pageSize]="currentSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChanged($event)"
      aria-label="Select page">>
    </mat-paginator>
  </div>

  <div>
    <button class="button-1" routerLink="/admin/items/create" routerLinkActive="active">Create item</button>
  </div>
</ng-container>
