<br>
<br>
<div class="header">
  <h2 style="text-align: center">Reset password</h2>
</div>
<div class="container">
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="submitPasswordReset()">
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password" required>
        <mat-error *ngIf="form.controls['password'].invalid"></mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" placeholder="Enter your password" required>
        <mat-error *ngIf="form.controls['confirmPassword'].invalid"></mat-error>
      </mat-form-field>
      <br>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
          <span *ngIf="!loading">Reset password</span>
        </button>
      </div>
    </form>
  </div>
</div>
