.spinner {
  margin-top: 250px;
  display: grid;
  place-items: center;
}

button {
  margin: 10px;
}

mat-accordion {
  display: none;
}

@media screen and (max-width: 767px) {
  table, th, td {
    display: none;
  }

  mat-accordion {
    display: block;
  }
}
